/* Used this as a ref -https://www.youtube.com/watch?v=3SsYZDJdeXk&t=326s*/

* {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
}


#canvas {
    border: solid 1.5px green;
    height: 600px;
    width: 700px;
    background-color: yellow;
    margin: auto;
    overflow: hidden;
}

#heroShip {
    background: blue;
    height: 50px;
    width: 50px;
    margin-top: 35%;
}

/*#ground {
    background: brown;
    margin-top: ;
    width: 55%;
    height: 15%;
    
}*/

#obsticle {
    position: relative;
    height: 500px;
    width: 50px;
    background: black;
    left: 625px;
}

#top-obsticle {
    position: relative;
    left: 500px;
    top: -800px;
    border: solid 1em;
    background: black;
   height: 100px;
   width: 25px;
}


#enemyShip {
   position: absolute;
   right: 400px;
   top: 200px;
    background: red;
    height: 60px;
    width: 60px;
}




