* {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
}


#canvas {
    border: solid 1.5px green;
    height: 600px;
    width: 700px;
    background-color: yellow;
    margin: auto;
}

#heroShip {
    background: blue;
    height: 50px;
    width: 50px;
    margin-top: 50%;
}