/* Used this as a ref -https://www.youtube.com/watch?v=3SsYZDJdeXk&t=326s*/

* {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
}


#canvas {
    border: solid 1.5px green;
    height: 600px;
    width: 700px;
    background-color: yellow;
    margin: auto;
   overflow: hidden;
   box-shadow: 7px 5px;
}

#heroShip {
    background: blue;
    position: absolute;
    height: 50px;
    top: 100px;
    left: 300px;
    width: 50px;
    border-radius: 50%;
}

#ground {
    border: blue solid;
    background: brown;
    width: 55%;
    height: 15%;
    
}

#obsticle {
    position: relative;
    height: 600px;
    width: 50px;
    background: black;
    left: 625px;
    animation: obMove 3s infinite;
}

#hole {
    width: 50px;
    height: 150px;
    background-color: yellow;
    position: relative;
    left: 625px;
    top: -600px;
    animation: obMove 3s infinite;
}
/*    


#top-obsticle {
    position: relative;
    left: 500px;
    top: -800px;
    border: solid 1em;
    background: black;
   height: 100px;
   width: 25px;
   animation: mymove 2s infinite;
}*/


/*#enemyShip {
   position: absolute;
   right: 400px;
   top: 200px;
    background: red;
    height: 60px;oo
    width: 60px;
}*/


@keyframes obMove{ 
    0%   {left: 700px;}
    100% {left: -50px;}
  }




